.idea/
.git/
debug/
release/
bin/*.so
bin/*.a
bin/*.dylib
bin/*.dll
bin/*.lib
bin/*.pdb
bin/*.exe
bin/*.ilk
bin/*.exp
bin/data/logs/*.log
bin/data/logs/*.pid
bin/data/meta/*.yml
bin/data/storage